.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-brand i {
    font-size: 20px;
}

input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
}

.bg-body {
    background-color: #F2F4F4;
}

.card {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 0 solid #DFE3E7;
    border-top-color: rgb(223, 227, 231);
    border-top-style: solid;
    border-top-width: 0px;
    border-right-color: rgb(223, 227, 231);
    border-right-style: solid;
    border-right-width: 0px;
    border-bottom-color: rgb(223, 227, 231);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-left-color: rgb(223, 227, 231);
    border-left-style: solid;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: .267rem;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    box-sizing: border-box;
}

.barcodegen-img {
    height: 300px !important;
}

.btn-orange {
    color: #fff;
    background-color: #F5B041;
    border-color: #F5B041;
    padding: 10px;
}

.btn-orange:hover {
    color: #fff !important;
    background-color: #F39C12 !important;
    border-color: #F39C12 !important;
}

.btn-green {
    color: #fff;
    background-color: #27AE60;
    border-color: #27AE60;
    padding: 10px;
}

.btn-green:hover {
    color: #fff !important;
    background-color: #229954 !important;
    border-color: #229954 !important;
}

.btn-blue {
    color: #fff;
    background-color: #3498DB;
    border-color: #3498DB;
    padding: 10px;
}

.btn-blue:hover {
    color: #fff !important;
    background-color: #2E86C1 !important;
    border-color: #2E86C1 !important;
}

.btn-purple {
    color: #fff;
    background-color: #8E44AD;
    border-color: #8E44AD;
    padding: 10px;
}

.btn-purple:hover {
    color: #fff !important;
    background-color: #7D3C98 !important;
    border-color: #7D3C98 !important;
}

.btn-maroon {
    color: #fff;
    background-color: #C0392B;
    border-color: #C0392B;
    padding: 10px;
}

.btn-maroon:hover {
    color: #fff !important;
    background-color: #A93226 !important;
    border-color: #A93226 !important;
}

.btn-teal {
    color: #fff;
    background-color: #16A085;
    border-color: #16A085;
    padding: 10px;
}

.btn-teal:hover {
    color: #fff !important;
    background-color: #138D75 !important;
    border-color: #138D75 !important;
}

.btn-coral {
    color: #fff;
    background-color: #F08080;
    border-color: #F08080;
    padding: 10px;
}

.btn-coral:hover {
    color: #fff !important;
    background-color: #CD5C5C !important;
    border-color: #CD5C5C !important;
}

.modal-dialog {
    /* width: 80% !important; */
    height: 95% !important;
}

.modal-content {
    /* width: 600px !important; */
    height: 100% !important;
}

.btn-collapse h4 {
    text-decoration: none;
    font-family: Rubik, Helvetica, Arial, serif;
    color: #475F7B;
}

.btn-collapse {
    text-decoration: none !important;
}

.btn-collapse h4:hover {
    text-decoration: none !important;
    /* font-family: Rubik, Helvetica, Arial, serif; */
    color: #475a7B;
}

.page-footer {
    background-color: #34495e;
    color: #eee;
}

footer a {
    text-decoration: none !important;
    color: orange;
}

footer a:hover {
    color: #eee !important;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

#tblResult tr {
    text-align: center;
}


/* Important part */

.modal-dialog {
    overflow-y: initial !important
}

#modalLabel {
    font-family: Rubik, Helvetica, Arial, serif !important;
}

.modal-body {
    height: 250px;
    overflow-y: auto;
}